* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  
}



.nav {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.list {
    display: flex;
  

}

.link {
    display: inline-block;
    padding-right: 20px;
    display: inline-block;
    color: #3A3838;
    line-height: 21px;
    font-size: 18px;
    font-family: 'roboto';
    font-weight: bold;
    transition: 0.5s;
    
}

.link:hover {
    color: #EF4423;

}

.header {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}


.main-cards {
    display: flex;

    
}

.main-card1 {
    background: #B71C1C;
    display: flex;
    flex-direction: column;
   
   
    
}



.main-title {
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
font-size: 19px;
line-height: 22px;
font-family: 'roboto';
}

.main-card2 {
    background: #6A1B9A;
    display: flex;
    flex-direction: column;
}

.main-description {
    color: #EBEBEB;
    text-align: center;
    font-weight: normal;
font-size: 16px;
line-height: 19px;
font-family: 'roboto';

}



.main-card3 {
    background: #303F9F;
    display: flex;
    flex-direction: column;
  
}

.main-card4 {
    background: #00695C;
    display: flex;
    flex-direction: column;
}

.main-content {
   margin: 20px auto;
   display: flex;
  
}

.main-img {
    width: 100%;
    flex-grow: 1;

}

.main-content2 {
    display: flex;
  max-width: 1110px;
width: 100%;
    margin: 0 auto;
   

}




.centr-title {
    color: #3A3838;
    font-weight: bold;
font-size: 22px;
line-height: 26px;
font-family: 'roboto';
text-align: center;
margin: 50px;
}

.main-cards2 {
 
    display: flex;
}

.card-title {
    color: #3A3838;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    font-family: 'roboto';
    padding-bottom: 20px;
    
}

.card-description {
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    color: #686868;
    font-family:'roboto';
}

.card2 {
 
  padding-left: 20px;
}


.footer {
    background: #3A3838;
    padding: 20px 0;
    margin-top: 30px;
}


.footer-link {
    display: inline-block;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;;
    font-family: 'roboto';
    transition: 0.5s;
    padding-right: 20px;
}


.footer-list {
    display: flex;

}
 
  

.footer-link:hover {
    color: #EF4423;
}




.footer-nav {
  max-width: 1110px;
  width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px
}



@media(max-width: 1115px) {
.nav {
    justify-content: space-around;
}
.header-img {
    width: 100%;
}
.footer-nav {
    justify-content: space-around;
}

}

@media(max-width: 1036px) {
.main-cards2 {
    flex-wrap: wrap;
    justify-content: center;
}
.card1-img {
    width: 100%;
}
}

@media(max-width: 870px) {
   
    .footer-link {
        font-size: 15px;
        line-height: 15px;
    }
    .link {
        font-size: 15px;
        line-height: 15px;
    }
    .main-title {
        font-size: 15px;
        line-height: 15px;
        padding-bottom: 10px;
    }
    .main-description {
        width: 100%;
        font-size: 15px;
        line-height: 15px;

    }
    .main-img {
        width: 100%;
    }
    .main-cards {
      flex-wrap: wrap;
    }
}

@media(max-width:770px) {
    .footer-nav {
        flex-wrap: wrap;
       
    }
    .nav {
        flex-wrap: wrap;
            
    }   
    .list {
        margin-top: 10px;
    } 
    .footer-list {
        margin-top: 10px;
    }
    .card-title {
        font-size: 15px;
        line-height: 15px;
        
    }
    .main-description {
        max-width: 350px;
        width: 100%;
    }
   
}

@media(max-width: 625px) {
    .footer-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-content {
        margin: 30px auto;
    }
    .link, .footer-link {
        margin-top: 10px;
    }
   
}


 



